<!DOCTYPE html>
<link rel="icon" href="/images/site/favicon-32x32.png" type="image/x-icon">
<html lang="en">
    <%- include('../partials/head') %>

    <body>
        <div id="wrapper">
            <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>

            <main>
                <%- body %>
            </main>

            <%- include('../partials/footer') %>
        </div>
    </body>
</html>